html
    head
        meta(charset="UTF-8")
        title GGBlog
        link(rel="shortcut icon" type="image/x-icon" href="./images/icon.png" media="screen")
        link(rel="stylesheet" type="text/css" href="/wangEditor/dist/css/wangEditor.min.css")
        style
            include ../public/css/header.css
            include ../public/css/article.css
        style.
            #editor-trigger {
                height: 150px;
            }
    body#body
        include ./layout/header
        div.content
            div.left
                div.article
                    div(v-html='article.content')
            div.right
                div.author
                    a.link(href='www.baidu.com', target="_blank")
                        img.headImage(':src'='article.author.headImageUrl')
                    a.nick(href='www.baidu.com', target="_blank" v-text='article.author.nick')
                    span.time
                        span(v-text='article.publishTime')
                        span  |
                        span(v-text='article.visits')
                        span 次浏览
                div.recommend
                    span(style='display: block;font-size: 20px;padding: 3 0;') 相似推荐
                    a.link(v-for='item in recommend' '@click'='skip(item._id)')
                        span.title(v-text='item.title')
                        span.outline(v-text='item.outline')
                        span 相似度：
                        span.similar(v-text='item.similar')
        div.editor
            div#editor-trigger
            div.publish 发表
        div.comment
            div
                div.card
                    div.list
                        div.list-header
                            h4.list-header-text
                                span 26条评论
                                span |
                                span 50个点赞
                                a(href='www.baidu.com')
                                    span.item 评论
                                a(href='www.baidu.com')
                                    span.item 点赞
                            div#sort
                                span 默认排序
                                div(style='display: none')
                                    div.item 默认排序
                                    div.item 时间排序

                        div
                            div.list-item
                                div.answer-item
                                    div.answer-header
                                        div.author-info
                                            a
                                                img.headImage(':src'='user.headImageUrl')
                                            a
                                                b(v-text='user.nick')
                                    div.answer-content
                                        div.publish-content
                                            h2(style="text-align: center; ")
                                            p 厉害了，厉害了！
                                            br
                                        div.publish-time
                                            span 发布于 2017-04-24
                                        div.actions
                                            span
                                                button.left 赞成 27
                                                button.right 反对
                div.card
                    button.more 加载更多
        include ./layout/footer
        script(src='http://cdn.bootcss.com/vue/1.0.27/vue.min.js')
        script(src='http://cdn.bootcss.com/jquery/2.0.1/jquery.min.js')
        script(src='http://cdn.bootcss.com/vue-resource/1.0.3/vue-resource.min.js')
        script(type="text/javascript" src="/wangEditor/dist/js/wangEditor.js")
        script
            include ../public/javascript/md5.js
            include ../public/javascript/utils.js
            include ../public/javascript/wangEditer.js
            include ../public/javascript/article.js
