html
    head
        meta(charset="UTF-8")
        title GGBlog
        link(rel="shortcut icon" type="image/x-icon" href="./images/icon.png" media="screen")
        link(rel="stylesheet" type="text/css" href="/css/header.css")
        link(rel="stylesheet" type="text/css" href="/wangEditor/dist/css/wangEditor.min.css")
        style.
            #editor-trigger {
                height: 600px;
            }

            .container {
                width: 100%;
                margin: 0 auto;
                position: relative;
            }
    body
        div.top-header
            div.top
                div.center
                    div.right-box
                        ul.menu
                            li.u-i.i-user
                                a.i-link
                                    img.i-face(src='//i0.hdslb.com/bfs/face/f906805bac7afb08b09498c1c00015b2bf675d43.jpg')
                            li.u-i
                                a.i-link 消息
                                div
                            li.u-i
                                a.i-link 历史
                                div
                            li.u-i
                                a.i-link 关注
                                div
                            li.u-i.post
                                a.i-link(href='') 发表
            div.header(style='background-image: url("./images/header.jpg")')
                div.header-layer
                div.header-center
                    a.logo(href='/index', style='background-image: url("./images/logo.png")')
        div#editor-container.container
            div#editor-trigger
                p 请输入内容
        include ./layout/footer
        script(type="text/javascript" src="/wangEditor/dist/js/lib/jquery-1.10.2.min.js")
        script(type="text/javascript" src="/wangEditor/dist/js/wangEditor.js")
        script
            include ../public/javascript/wangEditer.js

