html
    head
        meta(charset="UTF-8")
        title GGBlog
        link(rel="shortcut icon" type="image/x-icon" href="./images/icon.png" media="screen")
        style
            include ../public/css/header.css
            include ../public/css/personalCenter.css
    body
        include ./layout/header
        div.center-header
            div.left
                div.author
                    div.headImage
                    div.nick _koko
                    div.other
                        div.fans 粉丝
                            span 12
                        div.attention 关注
                            span 20
                    div.editor
                        span 编辑

            div.right
            div.bottom
                ul.nav-menu
                    li
                        a() 学术
                            b 10
                    li
                        a() 话题
                            b 10
                    li
                        a() 投票
                            b 10
                    li
                        a() 活动
                            b 10
                    li
                        a() 情感
                            b 10
                    li
                        a() 事件
                            b 10
                    li
                        a() 帮助
                            b 10
                div.bottom-nav
        div.center-body
            div#article
                div.card
                    div.article
                        div.article-content
                            div.article-info
                                h3.article-title _koko
                                p.article-text 享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！享受这令人愉悦的折磨吧！
                            div.article-cover
                                img(src="http://img3.duitang.com/uploads/item/201701/02/20170102164305_2rUR5.thumb.140_140_c.jpeg")
                        div.article-footer
                            span 2017-04-27
                            div.r
                                div.eye

                                span 45
                div.card
                    div.article
                div.card
                    div.article
                div.card
                    div.article
            div#vote