html
    head
        link(rel="shortcut icon" type="image/x-icon" href="./images/icon.png" media="screen")
        title GGBlog
        style
            include ../resource/css/index.css
    body
        div.
            div.menu